@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* border: 0.8px solid blueviolet; */
}

body {
    background-color: white;
}

.navbar {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e56f6f;
    padding: 40px;
    gap: 20px;
}

.navbar .nav-links {
    width: 90%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    gap: 45px;
}

.nav-links li {
    list-style-type: none;
    font-size: 20px;
    font-weight: 500;
}

.nav-links li a {
    list-style-type: none;
    text-decoration: none;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

.navbar .burger div {
    background-color: black;
    height: 4px;
    width: 30px;
    margin: 5px;
    border-radius: 5px;
}

@media (max-width:960px) {
    .navbar {
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 2px;
        padding: 5px;
    }

    .navbar .nav-links {
        gap: 40px;
    }

    .nav-links li {
        font-size: 18px;
    }
}

@media (max-width:765px) {
    .navbar {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 20px;
    }

    .navbar .nav-links {
        display: flex;
        gap: 25px;
    }

    .navbar .burger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }

    .navbar .burger div {
        height: 5px;
        width: 30px;
        margin: 2px;
        border-radius: 5px;
    }
}

@media (max-width:650px) {
    .navbar .nav-links {
        display: none;
    }
}

.content {
    width: 100%;
    background-image: linear-gradient(to right, #fef3b1 0%, #ffb4ef 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-bottom: 20px; */
    gap: 5px;
}

.left-part {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 25px 10px 50px;
    gap: 70px;
}

.left-part h1 {
    font-size: 50px;
    font-weight: 500;
}

.left-part p {
    font-size: 18px;
    line-height: 25px;
}

.left-part button {
    height: 45px;
    width: 160px;
    background-color: #e56f6f;
    outline: none;
    border: none;
    font-size: 18px;
    color: white;
    font-weight: normal;
}

.right-part {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-part img {
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media (max-width:930px) {
    .content {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    .left-part {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
        padding: 50px 20px 0 30px;
        gap: 50px;
    }

    .left-part h1 {
        font-size: 60px;
        font-weight: 500;
    }

    .left-part p {
        font-size: 23px;
        line-height: 40px;
    }

    .left-part button {
        height: 65px;
        width: 200px;
        font-size: 20px;
    }

    .right-part {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.second-page {
    width: 100%;
    background-image: linear-gradient(to right, #fef3b1 0%, #ffb4ef 100%);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 40px 10px 40px 10px;
    margin-top: 20px;
}

.gallery {
    width: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 13px;
    padding: 5px;
}

.gallery .mini-imgs {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
}

.gallery .mini-imgs img {
    width: 80%;
    aspect-ratio: 3/2;
    object-fit: cover;
}

.gallery .large-img {
    width: 85%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.gallery .large-img img {
    width: 70%;
}

.box-content {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #e56f6f;
    padding: 50px 50px 20px 15px;
    gap: 30px;
}

.box-content p {
    font-size: 15px;
}

.box-content h3 {
    font-size: 40px;
}

.box-content .sub-div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 5px;
}

.box-content .sub-div a {
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
    color: black;
}

.box-content .sub-div img {
    width: 6%;
}

@media (max-width:800px) {
    .second-page {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding: 20px 20px 80px 20px;
        gap: 80px;
    }

    .box-content {
        width: 100%;
        gap: 30px;
    }

    .box-content p {
        font-size: 20px;
    }

    .box-content h3 {
        font-size: 40px;
    }

    .box-content .sub-div {
        gap: 10px;
        padding: 5px;
    }

    .box-content .sub-div a {
        font-size: 25px;
    }

    .box-content .sub-div img {
        width: 8%;
    }

    .gallery {
        width: 100%;
    }

    .gallery .mini-imgs img {
        width: 100%;
        aspect-ratio: 3/2;
        object-fit: cover;
    }

    .gallery .large-img img {
        width: 88%;
    }
}